html {
  font-family: system-ui, sans-serif;
  padding: 4rem;
  background-color: hsl(0, 0%, 14%);
  color: orange;
}

a[href] {color: blue;}
.center {text-align: center;}
.italic {font-style: italic;}
