@use "./_utils.scss" as utils;


// Built-in classes
* { 
    margin: 2px 1px 2px 1px;
    // padding: 0; 
    // box-sizing: border-box;
	padding: 2px 1px 2px 1px; // padding: top right bottom left 
	border-radius:7px;
	font-family: "Verdana", "Arial", sans-serif;
}

html {
    min-height: 100%;
}

body {
	// background-image: repeating-linear-gradient(45deg, blue, red 33.3%);
	// background: rgb(2,0,36);
	// height: 100%;
	// margin: 0;
	// padding: 0;
	// background-repeat: no-repeat;
    // background-attachment: fixed;
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(209,215,219,1) 94%);
	// margin: 0;
}

// Base custom classes
.app {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(87,135,255,1) 0%, rgba(247,247,247,1) 94%);
}
.canvas {
	background-color: white;
}
.panel-0 {
	// transform: translate(calc(45vw + 20px), calc(10vh - 10px));
	// position: absolute;
	// margin-top: 50%;
	// transform: scaleX(-1);
	transform: translate(1vw, 94vh);
	// max-height: 100%;
	// overflow: hidden;
	// margin-bottom: 125px;
	// display: inline-block;
	// transform: rotate(-45deg);
	// transform: translate(89vw, 30vh);
	// transform-origin: 250% 100%;
	// z-index: -1;
}


// Navigation components 
.nav-menu {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(209,215,219,1) 94%);
	// padding: 25px 50px 75px 100px; // padding: top right bottom left
	// margin: 0;
}
.subsite-nav-menu {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(66,89,244,1) 0%, rgba(247,247,247,1) 94%);
}

// Filling buttons
.block {
	width: 100%;
}
.block-part {
	width: 10%;
}

// Canvas HTML elements
// .canvas-component {
	// width: 100%;
    // background-color: red;
    // display: block;
	// display: flex;
	// margin: 0 0 0 0 !important;
	// padding: 0 0 0 0 !important;
// }
// .canvas-ui {
	// text-align: center;
	// background-color: brown;
	// padding-right: 10px;
// }
.canvas-ui-menu {
	background-color: red;
	// margin: 0 auto;
	text-align: center;
	padding-right: 15px;
	transform: translate(calc(50vw - 50px), calc(-45vh));
}
// .engine-container {

// }

// Rendering engine
#engine-container {
	// width: 90vw !important;
	height: 100vh !important;
	background-color: black;
	// padding-right: 2px 1px 2px 1px;
	// margin-right: 2px 1px 2px 1px;
}

// MDX components
.mdx-paragraph {
	color: rgb(0, 0, 0);
	margin-left: 1em;
}
.mdx-section {
	color: rgb(165, 178, 226);
	margin-left: 1em;
}
.mdx-ulist {
	// color: rgb(165, 178, 226);
	margin-left: 1%;
	// padding-top: 0;
}
// .mdx-footer {
// 	color: red;
// 	margin-bottom: 2em;
// }
