@use "./_utils.scss" as utils;


// Built-in classes
* {
	// padding: 0;
    // box-sizing: border-box;
	border-radius:7px;
	font-family: "Verdana", "Arial", sans-serif;
	// margin: 2px 1px 2px 1px;
	// padding: 2px 1px 2px 1px; // padding: top right bottom left
}

html {
    min-height: 99%; // 100% gives a useless vertical scrollbar
}

body {
	// background-image: repeating-linear-gradient(45deg, blue, red 33.3%);
	// background: rgb(2,0,36);
	// height: 100%;
	// margin: 0;
	// padding: 0;
	// background-repeat: no-repeat;
    // background-attachment: fixed;
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(209,215,219,1) 94%);
	// margin: 0;
	// margin: 2px 1px 2px 1px;
	// padding: 2px 1px 2px 1px; // padding: top right bottom left
}

// Base custom classes
.app {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(87,135,255,1) 0%, rgba(247,247,247,1) 94%);
	min-height: 95vh;
	margin: 2px 1px 2px 1px;
	padding: 2px 1px 2px 1px; // padding: top right bottom left
}
// .link {
// 	width: 100%;
// }
.canvas {
	background-color: white;
}
.panel-0 {
	// transform: translate(calc(45vw + 20px), calc(10vh - 10px));
	// position: absolute;
	// margin-top: 50%;
	// transform: scaleX(-1);
	transform: translate(1vw, 94vh);
	// max-height: 100%;
	// overflow: hidden;
	// margin-bottom: 125px;
	// display: inline-block;
	// transform: rotate(-45deg);
	// transform: translate(89vw, 30vh);
	// transform-origin: 250% 100%;
	// z-index: -1;
}
.animation {
	overflow: hidden;
}

// Navigation components 
.nav-menu {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(209,215,219,1) 94%);
	// padding: 25px 50px 75px 100px; // padding: top right bottom left
	// margin: 0;
	text-align: center;
}
.subsite-nav-menu {
	background: radial-gradient(circle, rgba(171,180,207,1) 0%, rgba(209,215,219,1) 94%);
	text-align: center;
	// margin-top: 1em;
	// margin-bottom: 1em;
}

// Filling buttons
.block {
	width: 100%;
	transition: 0.66s ease-out;
}
.block:hover {
	width: 90%;
	background-color: rgba(92, 96, 236, 0.471);
	font-size: 75%;
}
.block-part {
	width: 10%;
	transition: 0.66s ease-out;
}
.header-block {
	width: 100%;
	background-color: rgb(248, 249, 250);
	font-size: 125%;
	transition: 0.66s ease-out;
}
.header-block:hover {
	width: 75%;
	background-color: rgba(210, 211, 238, 0.471);
	font-size: 100%;
}
.list-block {
	width: 75%;
	background-color: rgb(195, 201, 221);
	font-size: 125%;
	transition: 0.66s ease-out;
}
.list-block:hover {
	width: 50%;
	background-color: rgba(210, 211, 238, 0.471);
	font-size: 100%;
}
// .list-container {
// 	min-height: 200px;
// }
// .list-group {
// 	width: 100px;
// 	height: 100px;
// 	margin: 0 auto;
// 	background-color: white;
// }

// Canvas HTML elements
// .canvas-component {
    // margin: 0px 0px 0px 0px;
    // // padding: 0; 
    // // box-sizing: border-box;
	// padding: 0px 0px 0px 0px; // padding: top right bottom left 
	// border-radius: 0px;
	// margin: 0 0 0 0 !important;
	// padding: 0 0 0 0 !important;
	// all: initial !important;
// }
// .canvas-ui {
	// text-align: center;
	// background-color: brown;
	// padding-right: 10px;
// }
.canvas-ui-menu {
	background-color: red;
	// margin: 0 auto;
	text-align: center;
	padding-right: 15px;
	transform: translate(calc(50vw - 50px), calc(-45vh));
}
// .engine-container {
//     margin: 0px 0px 0px 0px;
//     // padding: 0;
//     // box-sizing: border-box;
// 	padding: 0px 0px 0px 0px; // padding: top right bottom left 
// 	border-radius: 0px;
// }

// Rendering engine
#engine-container {
	// width: 90vw !important;
	height: 100vh !important;
	background-color: black;
	// padding-right: 2px 1px 2px 1px;
	// margin-right: 2px 1px 2px 1px;
}
// Stopwatch
.stopwatch{
	margin: 2px 1px 2px 1px;
	padding: 2px 1px 2px 1px; // padding: top right bottom left
}

// MDX components
// .mdx-base {
// 	margin: 2px 1px 2px 1px;
// 	padding: 2px 1px 2px 1px; // padding: top right bottom left
// }
.mdx-heading {
margin-left: 1%;
}
.mdx-paragraph {
	color: rgb(0, 0, 0);
	margin-left: 1%;
}
.mdx-section {
	color: rgb(165, 178, 226);
	margin-left: 1em;
	margin-top: 1em;
}
.mdx-ulist {
	// color: rgb(165, 178, 226);
	margin-left: 2%;
	padding-left: 2%;
	// padding-top: 0;
}
.mdx-olist {
	// color: rgb(165, 178, 226);
	margin-left: 2%;
	padding-left: 2%;
	// padding-top: 0;
}
// .mdx-footer {
// 	color: red;
// 	margin-bottom: 2em;
// }
